/* style.css */

body {
    font-family: Arial, sans-serif; /* Fallback font family */
    text-align: center; /* Center-align text */
    margin: 0; /* Remove default margin */
    background-color: #FADADD; /* Set background color to light pink */
}

#container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
    height: 100vh; /* Make the container full viewport height */
}

#image-container {
    /* This container will hold the images */
}

#question {
    font-family: 'Lobster', Sans-serif; /* New font */
    font-size: 60px; /* Increase font size */
    line-height: 1.5; /* Improve line height for better readability */
    color: #ff4081; /* Change color for better contrast */
    padding: 20px; /* Add some padding */
}

#options {
    margin-top: 20px; /* Add space above the options */
}

button {
    padding: 12px 24px; /* Increase button padding */
    margin: 10px; /* Space around buttons */
    font-size: 20px; /* Increase font size */
    font-family: 'Lobster', cursive; /* Use Lobster font */
    background-color: #FF4081; /* More vibrant background */
    color: white; /* White text */
    border-radius: 25px; /* Round the edges */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth hover effects */
}

button:hover {
    background-color: #FF80AB; /* Lighter pink on hover */
    transform: scale(1.1); /* Slightly enlarge button */
}