/* Các style cơ bản */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #image-container {
    /* Container hiển thị hình ảnh */
  }
  
  #question {
    font-family: 'Lobster', sans-serif;
    font-size: 60px;
    line-height: 1.5;
    color: #ff4081;
    padding: 20px;
  }
  
  #options {
    margin-top: 20px;
  }
  
  button {
    padding: 12px 24px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    background-color: #FF4081;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #FF80AB;
    transform: scale(1.1);
  }
  
  /* Hiệu ứng pháo hoa */
  #fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
  }
  
  .firework {
    position: absolute;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, #FF4081, transparent);
    border-radius: 50%;
    animation: explode 1s ease-out forwards;
  }
  
  @keyframes explode {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
  